 * {
    box-sizing: border-box;
}
nav {
	height: 40px;
	width: 100%;
	background: #262626;
	font-size: 11pt;
	position: fixed;
	top: 0;
      ul {
    	padding: 0;
	    margin: 0;
	    height: 40px;
}

li {display: inline; float: left;}
a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding:9px 0;
}
}
nav a#pull {
	display: none;
}

@media screen and (max-width: 800px) {

	nav {
		width: 100%;
		height: auto;
		border-bottom: 0;
     ul {
		display: none;
		height: auto;
    }
    li {width: 100%;float: left;position: relative;	border-bottom: 1px solid #262626;}

  a {
	  text-align: left;
	  width: 100%;
	  text-indent: 25px;
		background: #2e2e2e;	  	
  	}
	}
  nav a:hover {
	  background:#444;
  	}  	
	
	nav a#pull {
		display: block;
		background-color: #262626;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url(../img/nav-icon.png) no-repeat;
		width: 30px;
		height: 30px;
		color: #FFF;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}


img{
  max-width: 100%;
  height: auto;
  margin: -4px; 
  padding-top: 10px;
  margin:0 auto ;
  width:100%;

}
nav {
  height: 40px;
  width: 100%;
  background: #262626;
  font-size: 11pt;
  position: fixed;
  top: 0; 
  ul {
    padding: 0;
    margin: 0;
    height: 40px; 
      }

  li {display: inline; float: left; }

  a {
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 9px 0; 
    }
}

nav a#pull {
  display: none; 
  
  }

.nav ul li{
       display: inline;
       margin-left: 10px;
}

[class*='col-'] {
  float: left;
  padding-right: 25px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1  {
  width: 28%;
  background-color:#D3D3D3;
}

.col-3 {
  width: 28%;
}
.offset-1 {
  
margin-left:2%; 
}
.offset-3 {
margin-left:7%; 
}

.offset-2 {
 margin-left:5%; 

}

.col-33  {
  width: 28%;
  
}

.offset-12 {
margin-left:5%; 
}

.offset-13 {
  margin-left:5%;
}

.offset-14 {
  margin-left:5%;
}

.offset-15 {
  
margin-left:2%; 
}

.col-6 {
  width:40%;
}

.col-8 {
  
  width: 100%;

}

.col-10 {
    
  width: 65.5%;
}

.col-18{
  width: 100%;
}
.sub_heading{
border-bottom: 5px solid #000000;
}
.sub_heading1{
border-bottom: 5px solid #000000;
}

.inner{
  margin:0 auto ;
}

h1{
  font-size: 200%;
  text-align: center; 
}

h2 { 
    font-size: 150%;
    text-align: center;
    
}
h4{
  font-size: 120%;
  text-align: center;
}

p {
    text-align: justify;
    font-size: 100%;
}

.ac{
  text-align: center; 
}
  
.crew{
  padding-top:20px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.pic{
  width:300px; height:300px; 
  background: url(/week/week12/img/solomonnew1.jpg) no-repeat; 

}
.pich{
  width:300px; height:300px; 
  background: url(/week/week12/img/hydronew.jpg) no-repeat; 
}

.pics{
  width:300px; height:300px; 
  background: url(/week/week12/img/alinewcombe.jpg) no-repeat;
  
}

.text{ width:300px; height:300px; background:#FFF; opacity:0; 
    
}

.pic:hover .text { opacity:0.6; text-align:justify; color:#000000; font-size:20px; font-weight:700; padding:30px;
}
.pich:hover .text { opacity:0.6; text-align:justify; color:#000000; font-size:20px; font-weight:700; padding:30px;
}
.pics:hover .text { opacity:0.6; text-align:justify; color:#000000; font-size:20px; font-weight:700; padding:30px;
}
.inner-content{
  margin-left:40%;
  
}
.inner-content1{
  margin-left:20%;
}
#tick {
	display:none; 
	color: green;
}
#ex {
	display:none; 
	color: red;
}

#tick2 {
	display:none; 
	color: green;
}
#ex2 {
	display:none; 
	color: red;

}
#tick3 {
	display:none; 
	color: green;
}
#ex3 {
	display:none; 
	color: red;


}
#tick4{
	display:none; 
	color: green;
}
#ex4 {
	display:none; 
	color: red;


}
      
/*# sourceMappingURL=main.css.map */
body {
font-family:  arial, sans-serif;
text-align: justify;
animation: colorchange 9.5s ease infinite; /* animation-name followed by duration in seconds*/
/* you could also use milliseconds (ms) or something like 2.5s */
-webkit-animation: colorchange 9.5s ease infinite; /* Chrome and Safari */
}

@keyframes colorchange{
  0%   {background: 324deg;}
  25%  {background: #5d6d69;}
  50%  {background: #484848;}
  75%  {background: #b5b5b5;}
  100% {background: #4f6164;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */{
  0%   {background: 324deg;}
  25%  {background: #5d6d69;}
  50%  {background: #484848;}
  75%  {background: #b5b5b5;}
  100% {background: #4f6164;}
  
}
    
@media all and (max-width:1000px){
    [class*='col-']{
        width: 100%;
}
        
[class*='offset-']{
       margin-left: 0%;
}
.nav{
  display: none;   
    }
    
.pic{
  width:40%;
  margin-left:30%;
    }
    
.pich{
  width:40%;
  margin-left:30%;
}
    
.pics{
  width:40%;
  margin-left:30%;
}

.text{
  width:100%;
  height:100%;
}

h2{
  text-align: center;
}

.sub_heading1{
  margin-right:8%;
}

.inner-content1{
  margin-left:30%;
}

.inner-content{
  margin-left:25%;
}
}
@media screen and (max-width: 800px) {
  nav {
    width: 100%;
    height: auto;
    border-bottom: 0; 
    
  }

  nav ul {
    display: none;
    height: auto;
    
  }

  nav li {
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px solid #262626; }

  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #2e2e2e; }

  nav a:hover {
    background: #444; }

  nav a#pull {
    display: block;
    background-color: #262626;
    width: 100%;
    position: relative; }

  nav a#pull:after {
    content: "";
    background: url(../img/nav-icon.png) no-repeat;
    width: 30px;
    height: 30px;
    color: #FFF;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px; } }
    
  @media screen and (max-width:700px){
    h1{
      font-size: 150%
    }
    h4{
      font-size: 100%
    }
    p{
      font-size: 120%
    } 
    
    .inner-first{
      padding-top: 19%;
    }
    nav ul, nav:active ul{
    	display:none;
    	
    }
  .col-33{
    margin-right:2%;
  }
  [class*='col-']{
        width: 100%;
        
   }
   [class*='offset-']  {
       margin: 0 auto;
   }
  }

  @media all and (max-width:650px){
    [class*='col-']{
        width: 100%;
   }
   
        
    [class*='offset-']  {
       margin-left: 0%;
   }
    
    .nav{
        display: none;   
    }
    
    
}
@media all and (max-width:600px){
  iframe{
    width: 90%
  }
}
  

    


